In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./BTVN_1/dataset_1.csv")
df.head()

,Rank,City,Population,Area KM2,Area M2,Density KM2,Density M2,Country,Year
0,1.0,Manila,"1,846,513",43,17,"43,062","111,532",Filipinler *,2020 [1] 2018 [2]
1,2.0,Mandaluyong,"425,758",11,4,"38,495","99,703",Filipinler *,2020 [1] [3]
2,3.0,pateros,"65,227",2,1,"37,061","95,988",Filipinler *,2020 [1] 2013 [3]
3,4.0,Caloocan,"1,661,584",53,21,"31,233","80,893",Filipinler *,2020 [1] [3]
4,5.0,ben fren,"212,646",7,3,"30,001","77,702",İsrail *,2022 [4] [5]

In [4]:
df['Population'] = df['Population'].str.replace(',', '').astype(int)

In [5]:
df['Area KM2'] = pd.to_numeric(df['Area KM2'], errors='coerce').astype('float')
df = df.dropna(subset=['Population', 'Area KM2'])

In [6]:
# Task 1: Top 10 city with highest.lowest population
df_sorted_descending = df.sort_values(by="Population", ascending=False)
top_10_city = df_sorted_descending["City"].head(10)
print(f"Top 10 cities with highest population: ")
for city in top_10_city.to_numpy():
    print(f"   - {city}")

print("==============================================================")
df_sorted_ascending = df.sort_values(by="Population", ascending=True)
bot_10_city = df_sorted_ascending["City"].head(10)
print(f"Top 10 cities with lowest population: ")
for city in bot_10_city.to_numpy():
    print(f"   - {city}")

Top 10 cities with highest population:
   - Karaçi
   - Bombay
   - Cakarta
   - Seul
   - Kahire
   - Dakka
   - Kalküta
   - Bandung
   - Quezon şehir
   - Çittagong
==============================================================
Top 10 cities with lowest population:
   - Senglea
   - Kotsiubynske
   - Le Pré-Saint-Gervais
   - nazikçe
   - Koekelberg
   - Saint-Mande
   - Les Lilas
   - Napoli, Selanik
   - Saint-Josse-ten-Noode
   - Vanveler

In [7]:
# Task 2: Print countries with at least 3 cities in this list
total_city = df['Country'].value_counts()

print("Countries with at least 3 cities in this list: ")
for country in total_city[total_city.values >=3].index:
    print(country)

Countries with at least 3 cities in this list:
 Filipinler *
 Fransa *
 Belçika *
 İspanya *
 Amerika Birleşik Devletleri *
 Hindistan *
 Yunanistan *
 Endonezya *
 İsrail *

In [8]:
# Task 3: Print top 5 countries with the most cities appears in the list

print("Top 5 countries with most cities: ")
for country in total_city[:5].index:
    print(country)

Top 5 countries with most cities:
 Filipinler *
 Fransa *
 Belçika *
 İspanya *
 Amerika Birleşik Devletleri *

In [13]:
# Task 4: print cities with population and area that are both in top 20
top_20_population = df.sort_values(by="Population", ascending=False)[:20]

top_20_area = df.sort_values(by="Area KM2", ascending=False)[:20]

top_cities = top_20_population[top_20_population['City'].isin(top_20_area['City'])]

for city in top_cities["City"]:
    print(city)

Karaçi
Bombay
Cakarta
Seul
Kahire
Dakka
Kalküta
Bandung
Quezon şehir
Çittagong
Paris
Şam
Caloocan
Barselona
Manhattan
Katmandu
Ciudad Nezahualcóyotl
naber

In [10]:
# Task 5: 
pd.options.display.float_format = '{:.0f}'.format

total_population = df.groupby("Country")["Population"].sum()

total_area = df.groupby("Country")['Area KM2'].sum()

population_density = total_population / total_area
print(population_density)

Country
 Amerika Birleşik Devletleri     27605
 Amerika Birleşik Devletleri *   19620
 Bangladeş *                     24921
 Belçika *                       17385
 Endonezya *                     16345
 Eritre *                        21400
 Filipinler *                    22422
 Fransa *                        20397
 Güney Kore *                    16467
 Hatay *                         27425
 Hindistan *                     21442
 Japonya *                       17120
 Makao *                         21437
 Maldivler *                     22235
 Malta *                           inf
 Meksika *                       17628
 Monako *                        18475
 Mısır *                         15742
 Nepal *                         29429
 Pakistan *                      25229
 Sri Lanka *                     20351
 Suriye *                        22221
 Ukrayna *                       17249
 Yunanistan *                    20022
 İspanya *                       16815
 İsrail *                        23469
dtype: float64

In [11]:
# Task 6
countries_with_2_cities = total_city[total_city.values >=2].index

new_df = df[df['Country'].isin(countries_with_2_cities)]

# for country in countries_with_2_cities:
idx  = new_df.groupby('Country')['Population'].idxmax()
max_population_cities = df.loc[idx]
result = max_population_cities[['Country', 'City']]
print(result)

                           Country          City
37   Amerika Birleşik Devletleri *  Birlik Şehri
6                      Bangladeş *         Dakka
65                       Belçika *    Schaerbeek
69                     Endonezya *       Cakarta
52                    Filipinler *  Quezon şehir
30                        Fransa *         Paris
32                     Hindistan *        Bombay
28                    Yunanistan *     Kallithea
68                       İspanya *     Barselona
4                         İsrail *      ben fren