In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./BTVN_2/dataset_2.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# Task 1:
top_10_math = df.sort_values(by="math score", ascending=False)[:100]

top_10_reading = df.sort_values(by="reading score",  ascending=False)[:100]

top_students = top_10_math[top_10_math['reading score'].isin(top_10_reading['reading score'])][:10]

print(top_students.index)

Index([962, 625, 458, 623, 451, 149, 916, 263, 114, 712], dtype='int64')

In [5]:
# Task 2
top_20_per_group = df.groupby('race/ethnicity')['writing score'].apply(lambda x: x.nlargest(20)).reset_index(level=0, drop=True)
print(top_20_per_group.index)

Index([546, 614, 571, 820, 983, 702, 539, 623, 468, 489, 778, 911,  77, 300,
       423, 837, 378, 490, 651, 170, 855, 514,   2,   6,  94, 121, 501, 474,
       919, 577, 833, 551, 722, 158, 667, 715, 803, 815, 125, 749, 165, 594,
       717, 334, 347, 381, 397, 229, 325, 732, 979, 122, 276, 420, 562, 463,
       465, 612, 864, 104, 106, 179, 377, 403, 903, 957, 970, 625, 712, 110,
       652, 373, 580, 941, 268, 821, 316, 907, 604, 641, 114, 458, 566, 685,
       916, 962, 451, 802, 886, 995, 533, 149, 852, 503, 755, 164, 890, 263,
       216, 286],
      dtype='int64')

In [6]:
# Task 3
group_A = df[df['race/ethnicity'] == 'group A']['parental level of education'].value_counts()
print(group_A)

parental level of education
some high school      24
some college          18
high school           18
associate's degree    14
bachelor's degree     12
master's degree        3
Name: count, dtype: int64

In [7]:
# Task 4: 
df['average_score'] = df[['math score', 'reading score', 'writing score']].mean(axis=1)

education_avg_score = df.groupby('parental level of education')['average_score'].mean()

print(education_avg_score)

print("Cha mẹ học vấn càng cao thì điểm trung bình của con càng cao")

parental level of education
associate's degree    69.569069
bachelor's degree     71.923729
high school           63.096939
master's degree       73.598870
some college          68.476401
some high school      65.108007
Name: average_score, dtype: float64
Cha mẹ học vấn càng cao thì điểm trung bình của con càng cao

In [8]:
lunch_avg_score = df.groupby('lunch')['average_score'].mean()

print(lunch_avg_score)

print("Chất lượng bữa ăn không tương phản với điểm trung bình")

lunch
free/reduced    62.199061
standard        70.837209
Name: average_score, dtype: float64
Chất lượng bữa ăn không tương phản với điểm trung bình

In [9]:
top_10_math_scores = (
    df.groupby('race/ethnicity', group_keys=True)
      .apply(lambda x: x.sort_values(by='math score', ascending=False).head(10))
)

print(top_10_math_scores['math score'])

race/ethnicity
group A         623    100
                539     97
                546     92
                571     91
                702     87
                820     85
                614     82
                300     81
                77      80
                444     79
group B         855     97
                501     94
                815     94
                121     91
                919     91
                474     90
                333     90
                2       90
                274     88
                6       88
group C         104     98
                934     98
                864     97
                562     96
                165     96
                717     96
                612     94
                710     93
                736     92
                594     92
group D         625    100
                712     98
                179     97
                618     95
                903     93
                957     92
                299     90
                659     90
                970     89
                130     89
group E         149    100
                458    100
                962    100
                916    100
                451    100
                263     99
                306     99
                114     99
                286     97
                34      97
Name: math score, dtype: int64

/tmp/ipykernel_130314/1657001492.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x.sort_values(by='math score', ascending=False).head(10))

In [ ]:
df['average_score'] = df[['math score', 'reading score', 'writing score']].mean(axis=1)

average_score_by_course = (
    df.groupby(['race/ethnicity', 'parental level of education', 'lunch', 'test preparation course'])['average_score']
      .mean()
      .unstack() 
)

print(sum(average_score_by_course["completed"] > average_score_by_course["none"])/len(average_score_by_course["completed"]))
# Ta thấy 86% học sinh tham gia preparation course có điểm cao hơn những học sinh không tham gia. Nên có bằng chứng để kết luận là việc tham gia preparation course có giúp học sinh đạt điểm trung bình cao hơn

0.8666666666666667