In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("ds_salaries.csv")
print(df.columns)

Index(['Unnamed: 0', 'work_year', 'experience_level', 'employment_type',
       'job_title', 'salary', 'salary_currency', 'salary_in_usd',
       'employee_residence', 'remote_ratio', 'company_location',
       'company_size'],
      dtype='object')

In [ ]:
# Task 1
mean_salary = df.groupby("job_title")["salary_in_usd"].mean()
print(mean_salary.idxmax())

Data Analytics Lead

In [16]:
# Task 2:
mean_salary_by_nationality = df.groupby("employee_residence")["salary_in_usd"].mean()
print(mean_salary_by_nationality.idxmax())

MY

In [24]:
# Task 3:
foreign_in_usa = df[(df['company_location'] == 'US') & (df['employee_residence'] != 'US')]
domestic_in_usa = df[(df['company_location'] == 'US') & (df['employee_residence'] == 'US')]

foreign_avg_salary = foreign_in_usa['salary_in_usd'].mean()
domestic_avg_salary = domestic_in_usa['salary_in_usd'].mean()

print(f"Foreigner mean salary: {foreign_avg_salary}")
print(f"Domestic mean salary: {domestic_avg_salary}")
print(foreign_avg_salary > domestic_avg_salary)
# Nhân sự ngoại quốc không có mức lương trung bình cao hơn nhân sự trong nước

Foreigner mean salary: 79366.84
Domestic mean salary: 148955.9
False

In [29]:
# Task 4
data_engineer_salary = df[df["job_title"] == "Data Scientist"]
data_engineer_salary_mean = data_engineer_salary.groupby("company_size")["salary_in_usd"].mean()
print(data_engineer_salary_mean[["S", "M"]])

company_size
S     51925.761905
M    126380.753247
Name: salary_in_usd, dtype: float64

In [ ]:
# Task 5
data_engineer_salary_mean = data_engineer_salary.groupby("experience_level")["salary_in_usd"].mean()
print(data_engineer_salary_mean)
# SE có lương trung bình cao nhất, sau đó là MI và EN

experience_level
EN     55330.909091
MI     82039.133333
SE    152971.016393
Name: salary_in_usd, dtype: float64

In [33]:
employee_in_us = df[df["company_location"] == "US"]
foreigner_in_us = employee_in_us[employee_in_us["employee_residence"] != "US"]
foreigner_native_ratio = len(foreigner_in_us)*100/len(employee_in_us)
print(foreigner_native_ratio)

7.042253521126761

In [41]:
level_MI = df[(df["experience_level"] == "MI") & (df["employee_residence"] == df["company_location"])]

mean_by_jobtitle = level_MI.groupby("job_title")["salary_in_usd"].mean()
print(mean_by_jobtitle.nlargest(3))

job_title
Financial Data Analyst                450000.0
Applied Machine Learning Scientist    423000.0
Data Science Manager                  200000.0
Name: salary_in_usd, dtype: float64

In [43]:
germany_job = df[df["company_location"] == "DE"]
germany_salary_by_title = germany_job.groupby("job_title")["salary_in_usd"].mean()
germany_salary_by_title.nsmallest(1)

job_title
ML Engineer    15966.0
Name: salary_in_usd, dtype: float64